<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
    <style>
        * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", serif;
  background: #ffffff;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.page {
  width: 350px;
}

/* COLLAGE */
.collage {
  position: relative;
  height: 280px;
  margin-bottom: 40px;
}

.collage img {
  position: absolute;
  width: 180px;
  border: 5px solid white;
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

/* posiciones tipo pinterest */
.collage img:nth-child(1) { top: 20px; left: 0; }
.collage img:nth-child(2) { top: 0; left: 150px; }
.collage img:nth-child(3) { top: 40px; left: 300px; }
.collage img:nth-child(4) { top: 120px; left: 100px; }
.collage img:nth-child(5) { top: 140px; left: 250px; }

/* CARD TEXTO */
.card {
  font-size: 0.85rem;
  line-height: 1.5;
  color: #111;
}

.intro {
  margin-bottom: 10px;
}

.links {
  margin: 8px 0;
}

.links a {
  color: #000;
  text-decoration: underline;
  font-size: 0.8rem;
}

hr {
  border: none;
  border-top: 1px solid #bbb;
  margin: 14px 0;
}

/* BYF / DFI */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 17px;
  font-size: 0.78rem;
}

/* FAVS */
.favs {
  font-size: 0.78rem;
}

    </style>
<div class="page">

  <!-- COLLAGE DE IMÁGENES -->
  <div class="collage">
    <img src="https://64.media.tumblr.com/3259834363a4b3426dbf1985afc0a42a/9b2343a9d10c0830-8c/s400x600/f58e25feced55c7086e613c64fc3b9373d6afd05.gifv">
    <img src="https://64.media.tumblr.com/a92096ee207bd51174377ec548f4e169/79291b50a723f854-c7/s1280x1920/f911260eb5e5037d2e26320dd2995da0ed54fbd1.jpg">
    <img src="https://i.pinimg.com/736x/23/df/54/23df54c54fc1b21b4a56cc3b7b2dcb69.jpg">
    <img src="https://64.media.tumblr.com/de9ccf5692f982fd4d847891390402c7/8b2d645b97f75d41-16/s1280x1920/b92bb3d5f0c7150c0b9adbf81fe231152dd41156.jpg">
    <img src="https://64.media.tumblr.com/120ef737c56c3fd08a489712a785ac78/8b2d645b97f75d41-1a/s1280x1920/37e1389d483733d0155e4c01ba5a1ad00b7d0dd7.jpg">
  </div>

  <!-- CARD TEXTO -->
  <div class="card">

    <p class="intro">
      愛  <b>kang ✢ 𓈒 ֹ .·</b>! she/her
    </p>

    <p>
      info info info info (★)<br>
      playing… fearless by le sserafim ♪ ͏͏
    </p>

    <p>
      &lt;3 text text text text text text text text text text text texttext text texttext text text
    </p>

    <p class="links">
      <a href="#">rant</a> ·
      <a href="#">ccat</a> ·
      <a href="#">pinterest</a> ·
      <a href="#">spotify</a>
    </p>

    <hr>

    <div class="grid">
      <div>
        <b>ABOUT ME⠀୨୧</b><br>
        text text text text text text text text text text text text text text text text text text text text text
      </div>

      <div>
        <b>LOVELIST⠀୨୧ </b><br>
        text text text text text text text text text text text text text text text text text text text text text
      </div>
    </div>

    <hr>

    <p class="favs">
      <b>amorcitos</b> text text text  ❤︎  text text text ♡
      text text text
      &lt; text text texte <u>otros ❤︎</u>
      text text text text text text
    </p>

  </div>

</div>

</body>
</html>